# Игнорировать файлы повторных попыток (создаются при ошибках плейбуков)
*.retry

# Игнорировать временные файлы и кэш Ansible
*.pyc
*.pyo
__pycache__/
.ansible_cache/

# Игнорировать локальные переменные и секреты (если они в отдельных файлах)
.env
secret_key
*.pem

# Игнорировать системные файлы ОС
.DS_Store
Thumbs.db